* {
  box-sizing: border-box;
  font-family: "Cairo", sans-serif;
  letter-spacing: 1.4px;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
}

.container-fluid {
  background-image: url("../imgs/background1.png");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

ul li a:hover {
  color: #092034 !important;
  transform: scale(1.2);
}
/* =========== the input style ========== */
.form-control:focus {
  color: #0f3353;
  outline: 0;
  background-color: transparent;
  box-shadow: none;
}

.form-control {
  background-color: transparent;
  font-size: 21px;
}

.myinput::placeholder {
  color: #113f67 !important;
}
.search-box {
  display: flex;
  align-items: center;
  border-bottom: 2px solid #87c0cd;
}
.timing {
  color: #092034;
}
/* ========= my contents to view weather ======= */
.contents .card {
  width: 400px;
  border-radius: 15px;
  margin: auto;
}
.search-box i {
  position: absolute;
  left: 0px;
  color: #87c0cd;
  font-size: 20px;
}
.card .card-header {
  background-color: #0f3353;
  color: #ffffff;
  border-radius: 15px 15px 0px 0px;
  padding: 20px 25px;
  font-size: 19px;
}

.card .card-body {
  background-color: #113f67;
}

.card .card-body .location {
  font-size: 50px;
  color: #b4a5a5;
}

.card .card-body .temp {
  font-size: 60px;
  color: #f3f9fb;
  text-shadow: 1px 1px 1px #092034;
}

.card .card-body .card-text {
  font-size: 23px;
  color: #092034;
  text-shadow: 1px 1px 1px #092034;
}

.card .card-footer {
  background-color: #113f67;
  color: #b4a5a5;
  padding: 15px 10px;
  font-size: 19px;
  border-top: 1px solid #b4a5a5;
}

.contents .anotherindex {
  transform: scale(0.9) !important;
}

.anotherindex .card {
  width: 330px;
}

.anotherindex .card .card-header {
  background-color: #092034;
  font-size: 23px;
}

.anotherindex .card .card-body {
  background-color: #0b2b47;
}

.anotherindex .card .max-temp {
  font-size: 40px;
}

.anotherindex .card .min-temp {
  font-size: 25px;
}

.anotherindex .card .card-footer {
  background-color: #0b2b47;
}

/* ======= start contact us ======= */
.contact {
  background-color: #092034;
}
.contact .overllay {
  height: 100%;
  width: 100%;
}
.contact .overllay .contact-us .send-message h5,
.contact .overllay .contact-us .get-in h5 {
  color: #f3f9fb;
  font-size: 32px;
  margin-bottom: 48px;
  position: relative;
}
.contact .overllay .contact-us .send-message h5::before,
.contact .overllay .contact-us .get-in h5::before {
  content: "";
  position: absolute;
  height: 3px;
  background-color: #113f67;
  width: 100px;
  bottom: -12px;
}
section .container form input,
section .container form textarea {
  border: 1.5px solid #ccc;
  border-radius: 30px;
  color: #f3f9fb !important;
  padding: 10px 20px !important;
  outline: none;
}
.contact .overllay .contact-us .send-message form button {
  background-color: #009ad8;
  color: #f3f9fb;
  padding: 10px 24px;
  font-size: 18px;
  margin: 0px auto;
  border-radius: 32px;
  border: 0;
  letter-spacing: 1px;
  outline: none;
  cursor: pointer;
}
.contact .overllay .contact-us .get-in p {
  line-height: 1.6;
  font-size: 20px;
  color: #f3f9fb;
  margin-bottom: 16px;
  letter-spacing: 1px;
}
.contact .overllay .contact-us .get-in ul li {
  font-size: 16px;
  color: #f3f9fb;
  margin-bottom: 12px;
  letter-spacing: 1px;
}
.contact .overllay .contact-us .get-in ul li i {
  margin-right: 10px;
  color: #9da1a3;
}

.contact .overllay .contact-us .get-in .icons div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
}
.contact .overllay .contact-us .get-in .icons div i {
  font-size: 20px;
  color: #f3f9fb;
}
/* end contact us  */
/* ======footer===== */
.footer {
  background-color: #092034;
}
.footer p {
  color: #009ad8;
}
